[submodule "pack/external/start/toggleterm.nvim"]
	path = pack/external/start/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim.git
[submodule "pack/external/start/nvim-tree.lua"]
	path = pack/external/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "pack/external/start/nvim-web-devicons"]
	path = pack/external/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "pack/external/start/plenary.nvim"]
	path = pack/external/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/external/start/telescope.nvim"]
	path = pack/external/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/external/start/nvim-treesitter"]
	path = pack/external/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/external/start/nvim-lspconfig"]
	path = pack/external/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/external/start/gitsigns.nvim"]
	path = pack/external/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "pack/external/start/barbar.nvim"]
	path = pack/external/start/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim.git
[submodule "pack/external/start/mason.nvim"]
	path = pack/external/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim.git
[submodule "pack/external/start/nvim-cmp"]
	path = pack/external/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "pack/external/start/cmp-nvim-lsp"]
	path = pack/external/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "pack/external/start/rose-pine"]
	path = pack/external/start/rose-pine
	url = https://github.com/rose-pine/neovim.git
[submodule "pack/external/start/which-key"]
	path = pack/external/start/which-key
	url = https://github.com/folke/which-key.nvim.git
[submodule "pack/external/start/nvim-colorizer"]
	path = pack/external/start/nvim-colorizer
	url = https://github.com/norcalli/nvim-colorizer.lua.git
[submodule "pack/external/start/conform.nvim"]
	path = pack/external/start/conform.nvim
	url = https://github.com/stevearc/conform.nvim.git
[submodule "pack/external/start/lualine.nvim"]
	path = pack/external/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
